/* body */
body {
  background-color: #444; /* Lighter background color */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove default padding */
}
/* body */

/* Header component styles */
.header {
  background-color: #333; 
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  display: flex;
  text-align: left;
  z-index: 1000;
}

.logo {
  padding: 20px 0px 20px 20px;
  width: 65px;
  height: auto;
}

.app-name {
  font-family: 'Roboto', sans-serif; 
  font-size: 24px;
  color: whitesmoke; 
  padding: 27px 2px;
  margin: 10px 0; 
}
/* Header component styles */