/* body */
body {
  background-color: #444; 
  margin: 0; 
  padding: 0; 
}
/* body */

/* Header component styles */
.header {
  background-color: #333; 
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); 
  display: flex;
  text-align: left;
  z-index: 1000;
}

.logo {
  padding: 20px 0px 20px 20px;
  width: 65px;
  height: auto;
}

.app-name {
  font-family: 'Roboto', sans-serif; 
  font-size: 24px;
  color: whitesmoke; 
  padding: 27px 2px;
  margin: 10px 0; 
}
/* Header component styles */

/* FeatureMenu component styles */
.features-menu {
  display: flex;
  justify-content: center; 
  align-items: center;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  z-index: 1001; 
}

.feature-item {
  display: flex;
  align-items: center;
  color: whitesmoke;
}
.feature-item:nth-child(2),
.feature-item:nth-child(3) {
  margin-left: 20px;
}

.features-menu span {
  margin-right: 10px; 
}

.toggle-button {
  padding: 5px 10px;
  background-color: transparent;
  color: #fff; 
  border: 1px solid #fff; 
  border-radius: 5px; 
  cursor: pointer; 
}

.toggle-button.active {
  background-color: #fff; 
  color: #333; 
}

.time-options {
  display: flex;
}

.time-option {
  padding: 5px 10px;
  background-color: transparent;
  color: #fff; 
  border: 1px solid #fff; 
  border-radius: 5px; 
  cursor: pointer; 
  margin-right: 5px; 
}

.time-option.active {
  background-color: #fff; 
  color: #333; 
}

.time-option:not(.active):hover,
.toggle-button:not(.active):hover {
  background-color: rgba(255, 255, 255, 0.45); 
}

select {
  color: white; 
  background-color: #444; 
}


select option:checked {
  background-color:#444; 
}

/* FeatureMenu component styles */

/* TextDisplay.js component styles */

.text-display {
  font-family: 'Arial', sans-serif; 
  font-size: 16px; 
  color: rgba(255, 255, 255, 0.5); 
  font-weight: 600;
}

.pointer {
  background-color: yellow;
}

.error {
  color: red; 
}

.matched {
  color: white; 
  opacity: 1; 
}
/* TextDisplay.js component styles */

/* Timer.js component styles */

.timer {
  font-size: 20px;
  color: yellow;
}

.timer-countdown {
  font-weight: bold;
}


/* Timer.js component styles */

/* RestartButton.js component styles */

.restart-button-container {
  position: fixed;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 30px;
}

.restart-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #444;
  color: white;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.restart-button:hover {
  background-color: #555;
}


/* RestartButton.js component styles */
